body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
header{
    z-index: 1;
    position: fixed;
    background-color: #fff;
    padding: 20px;
    width: calc(100% - 0%);
    height: 30px;
    top: 0;
}
.left h3{
    color: rgb(92, 92, 92);
    margin: 0;
    text-transform:uppercase ;
    font-size: 22px;
    font-weight: 900;

}
.left span{
    color: rgb(224, 155, 64);
}
.help_button{
    padding: 15px;
    background-color: #fff;
    float: right;
    margin-top: -30px;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 12px;
    font-weight: 800;
    color: rgb(90, 90, 90);
    transition: 0.3s;
}
.delete_button{
    padding: 15px;
    background-color: #fff;
    float: right;
    margin-top: -30px;
    margin-right: 20px;
    border-radius: 2px;
    font-size: 12px;
    font-weight: 800;
    color: rgb(90, 90, 90);
    transition: 0.3s;
}
.cari_button{
    padding: 15px;
    background-color: #fff;
    float: right;
    margin-top: -30px;
    margin-right: 20px;
    border-radius: 2px;
    font-size: 12px;
    font-weight: 800;
    color: rgb(90, 90, 90);
    transition: 0.3s;
}

.help_button:hover{
    background: rgb(224, 155, 64);
}
.delete_button:hover{
    background: rgb(224, 155, 64);
}
.cari_button:hover{
    background: rgb(224, 155, 64);
}
.left_sidebar{
    z-index: 1;
    top: 0;
    background-color:rgb(170, 170, 170);
    margin-top:70px ;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 280px;
    height: calc(100% - 9%);
    transition: 0.3s;
    transition-property: left;
    overflow-y: auto;

}
.profile_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.left_sidebar .profile_info .profile_img{
    width: 150px;
    height: 150px;
    border-radius: 150px;
    border-bottom: 50px;

}
.left_sidebar .profile_info h4{
    color: #fff;
    margin-top: 0;
    margin-bottom: 20px;

}
.left_sidebar a{
    color: #fff;
    display: block;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.3s;
}
.left_sidebar a:hover{
    background-color: rgb(224, 155, 64);

}
.left_sidebar i{
    padding-right: 10px;
    width: 30px;
}
label #left_sidebar_menu{
    color: rgb(92, 92, 92);
    position: fixed;
    cursor: pointer;
    left: 200px;
    font-size: 30px;
    margin: 5px 0;
    transition: 0.2s;
    transition-property: color;
}
label #left_sidebar_menu:hover{
    color: rgb(224, 155, 64);
}
#check:checked  ~.left_sidebar{
    left: -200px;
}
#check:checked  ~.left_sidebar a span{
    display: none;
}
#check:checked  ~.left_sidebar a{
    font-size: 20px;
    margin-left: 190px;
    width:100%;
}
.web_content{
    width: (100% - 250px);
    margin-top: 60px;
    padding: 20px;
    margin-left: 250px;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: 0.3s;

}
#check:checked ~.web_content{
    margin-left: 60px;
}
#check:checked ~.left_sidebar .profile_info{
    display: none;
}
#check{
    display: none;
}
.web_content h1{
    margin-top: 0;
    padding-top: 15%;
    text-align: center;
    font-size: 600%;
    color: #fff;
    text-decoration: underline;

}
.web_content h3{
    padding-top: 0%;
    text-align: center;
    font-size: 150%;
    color:#fff;
}
.web_content h2{
    margin-top: 0;
    text-align: center;
    font-size: 200%;
    color:#fff;
    padding-top: 10%;
}
.web_content span{
    color : #fff;
    background-color: rgb(92, 92, 92, 0.5);
}
.web_content a{
    color : #fff
}
.mobile_nav{
    display: none;
}

.container{
    width: 800px;   
}
.container .accordion{
    position: relative;
    margin: 10px 20px;
}
.container .accordion .head{
    position: relative;
    padding: 10px;
    background: rgb(133, 133, 133);
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.container .accordion .head::before{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.5em;
}
.container .accordion .body{
    position: relative;
    background: rgb(255, 255, 255, 0.5);
    color: black    ;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto; 
}
.container .accordion.active .body{
    height: 50px;
    padding: 10px;
}

/* mobile */

@media screen and (max-width: 780px){
    .left_sidebar{
        display: none;

    }
    #left_sidebar_menu{
        display: none;
    }
    .web_content{
        margin-left: 0;
        margin-top: 0;
        padding: 10px 20px;
        transition: 0.3s;
    }
    #check:checked ~.web_content{
        margin-left: 0;
    }
    .mobile_nav{
        display: block;
        width: calc(100% - 0%);
    }
    .nav_bar{
        background:rgb(92, 92, 92);
        width: (100% - 0px);
        margin-top: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }
    .nav_bar .mobile_profile_image{
        width: 50px;
        height: 80px;
        border-radius: 150px;
        border-bottom: 50px;
    }
    .nav_bar .nav_btn{
        color: #fff;
        font-size: 22px;
        cursor: pointer;
        transition: 0.5s;
        transition-property: color;
      }
    
      .nav_bar .nav_btn:hover{
        color: rgb(224, 155, 64);
      }
    
      .mobile_nav_items{
        background: rgb(92, 92, 92);
        display: none;

      }
    
      .mobile_nav_items a{
        color: #fff;
        display: block;
        text-align: center;
        letter-spacing: 1px;
        line-height: 60px;
        text-decoration: none;
        box-sizing: border-box;
        transition: 0.3s;
      }
    
      .mobile_nav_items a:hover{
        background: rgb(224, 155, 64);
      }
    
      .mobile_nav_items i{
        padding-right: 10px;
      }
    
      .active{
        display: block;
      }
    }
