{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% block meta %}
    <head>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
        <title>THIS IS MY NEW DESIGN</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    {% endblock meta %}
    {% block content %}
    <body>
        <input type="checkbox" id="check">

        <header>
            <label for="check"> 
                <i class="fab fa-elementor" id="left_sidebar_menu"></i>
            </label>
            <div class="left">
                <h3>S<span>ALVI</span>AN</h3>
            </div>
            <div class="right">
                <a href="home" class="help_button">Back</a>
            </div>
        </header>

        <div class="left_sidebar">
            <div>
                <h4 style="text-align: center;">Mohon Maaf <br> Belum Tersedia</h4>
            </div>
            
        </div>
        <div class="web_content"  style="background: url('/static/img/grass_background.jpg') no-repeat top center fixed; background-size: cover;">
            <h2 style="background-color: rgb(92, 92, 92, 0.5);">Cari Buku<br >
                <input id="keyword" placeholder="masukan kata" size="30px">
                <ol id= "hasil" style="text-align: left; padding-left: 100px;">

                </ol>
            </h2>
        </div>

        
    </body>
    
    <script type="text/javascript">
        $("#keyword").keyup( function(){
            var isi_keyword = $("#keyword").val();
            var url_data = '/data?q=' + isi_keyword;

            $.ajax({
                url: url_data,
                success: function(hasil) {
                    console.log(hasil.items);
                    var obj_hasil = $("#hasil");
                    obj_hasil.empty();

                    for(i = 0 ; i < hasil.items.length; i++){
                        var tmp_title = hasil.items[i].volumeInfo.title;
                        var tmp_thumbnails = hasil.items[i].volumeInfo.imageLinks.smallThumbnail;
                        var temp_link = hasil.items[i].volumeInfo.previewLink;
                        var temp_info = hasil.items[i].searchInfo.textSnippet;
                        console.log(tmp_title);
                        obj_hasil.append('<li style="border: 2px solid orange;background-color: rgba(0, 0, 0, 0.5);"> ' + tmp_title + '<br> <img src=' 
                        + tmp_thumbnails + ' style="border-radius: 150px;margin-left: 50px;">'+'<h6>'+ temp_info +'</h6>'+ '<a href="'+ temp_link +'"><h6>'+ 
                        temp_link+'</h6></a>'+'</li>'); 
                    }
                }
            })
        })
    </script>
    {% endblock content %}



</html>