{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% block meta %}
    <head>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
        <title>THIS IS MY NEW DESIGN</title>
    </head>
    {% endblock meta %}
    {% block content %}
    <body>
        <input type="checkbox" id="check">

        <header>
            <label for="check"> 
                <i class="fab fa-elementor" id="left_sidebar_menu"></i>
            </label>
            <div class="left">
                <h3>S<span>ALVI</span>AN</h3>
            </div>
            <div class="right">
                <a href="home" class="help_button">Back</a>
            </div>
        </header>

        <div class="left_sidebar">
            <div>
                <h4 style="text-align: center;">Mohon Maaf <br> Belum Tersedia</h4>
            </div>
            
        </div>
        <div class="web_content"  style="background: url('/static/img/grass_background.jpg') no-repeat top center fixed; background-size: cover;">
           <h2>
            <form action="savematkul" method="POST" style="background-color: rgb(92, 92, 92, 0.5); background-size: 100px;">
                {% csrf_token %}
                Masukan data mata kuliah {{ input_form.as_p}}
                <input type="submit" value="Submit"><br><br><br>
            </form>
            </h2>>
        </div>

        
    </body>
    {% endblock content %}


</html>