{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% block meta %}
    <head>
        <meta name="viewport" content="width=device-width, inital-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
       
        <title>THIS IS MY NEW DESIGN</title>
    </head>
    {% endblock meta %}
    {% block content %}
    <body>
        <input type="checkbox" id="check">

        <header>
            <label for="check" > 
                <i class="fab fa-elementor" id="left_sidebar_menu"></i>
            </label>
            <div class="left">
                <h3>S<span>ALVI</span>AN</h3>
               
            </div>
            <div class="right">
                {% if user.is_authenticated %}
                <a href="{% url 'main:logout' %}" class="help_button">Logout</a>
                <a href="help" class="help_button">ADD MATKUL</a>
                <a href="delete" class="delete_button">DELETE MATKUL</a>
                {% else %}
                <a href="{% url 'main:login' %}" class="help_button">Login</a>
                {% endif %}
                <a href="cari" class="cari_button">CARI BUKU</a>
            </div>
        </header>

          <!--MOBILE-->
          <div class="mobile_nav">
            <div class="nav_bar">
                <img src="{% static 'img/salvian1.jpg' %}" class="mobile_profile_image" style="width: 100px;">
                <i class="fab fa-elementor nav_btn"></i>
            </div>
            <div class="mobile_nav_items">
                <a href="#" onclick="toggle_visibility('profile'); hidetoggle_visibility('background_studies'); hidetoggle_visibility('experience');
             hidetoggle_visibility('schedule'); hidetoggle_visibility('interest'); hidetoggle_visibility('social_media'); hidetoggle_visibility('template_greeting1');"> <i class="far fa-address-card"></i><span> Profile</span></a>
            <a href="#" onclick="toggle_visibility('background_studies'); hidetoggle_visibility('profile'); hidetoggle_visibility('experience');
            hidetoggle_visibility('schedule'); hidetoggle_visibility('interest'); hidetoggle_visibility('social_media'); hidetoggle_visibility('template_greeting1');"><i class="fas fa-graduation-cap"></i><span> Background Study</span></a>
            <a href="#" onclick="toggle_visibility('experience');  hidetoggle_visibility('background_studies'); hidetoggle_visibility('profile');
            hidetoggle_visibility('schedule'); hidetoggle_visibility('interest'); hidetoggle_visibility('social_media'); hidetoggle_visibility('template_greeting1');"><i class="fab fa-black-tie"></i><span> Experience</span></a>
            <a href="#" onclick="toggle_visibility('schedule'); hidetoggle_visibility('background_studies'); hidetoggle_visibility('experience');
            hidetoggle_visibility('profile'); hidetoggle_visibility('interest'); hidetoggle_visibility('social_media'); hidetoggle_visibility('template_greeting1');"><i class="far fa-calendar-alt"></i><span> Schedule</span></a>
            <a href="#" onclick="toggle_visibility('interest'); hidetoggle_visibility('background_studies'); hidetoggle_visibility('experience');
            hidetoggle_visibility('schedule'); hidetoggle_visibility('profile'); hidetoggle_visibility('social_media'); hidetoggle_visibility('template_greeting1');"><i class="fas fa-info-circle"></i><span> Interest</span></a>
            <a href="#" onclick="toggle_visibility('social_media');  hidetoggle_visibility('background_studies'); hidetoggle_visibility('experience');
            hidetoggle_visibility('schedule'); hidetoggle_visibility('interest'); hidetoggle_visibility('profile'); hidetoggle_visibility('template_greeting1');"><i class="fas fa-users"></i><span> Social Media</span></a>
            </div>
        </div>
        
        <!--PC-->
        <div class="left_sidebar">
            <div class="profile_info">
                <img src="{% static 'img/salvian1.jpg' %}" class="profile_img" alt="">
                <h4 style="text-align: center;">Salvian AF</h4>
            </div>
            <a href="#" onclick="toggle_visibility('profile'); hidetoggle_visibility('background_studies'); hidetoggle_visibility('experience'); hidetoggle_visibility('schedule'); 
            hidetoggle_visibility('interest'); hidetoggle_visibility('social_media'); hidetoggle_visibility('template_greeting1'); "> <i class="far fa-address-card"></i><span> Profile</span></a>
            <a href="#" onclick="toggle_visibility('background_studies'); hidetoggle_visibility('profile'); hidetoggle_visibility('experience'); hidetoggle_visibility('schedule'); 
            hidetoggle_visibility('interest'); hidetoggle_visibility('social_media'); hidetoggle_visibility('template_greeting1');"><i class="fas fa-graduation-cap"></i><span> Background Study</span></a>
            <a href="#" onclick="toggle_visibility('experience');  hidetoggle_visibility('background_studies'); hidetoggle_visibility('profile'); hidetoggle_visibility('schedule'); 
            hidetoggle_visibility('interest'); hidetoggle_visibility('social_media'); hidetoggle_visibility('template_greeting1');"><i class="fab fa-black-tie"></i><span> Experience</span></a>
            <a href="#" onclick="toggle_visibility('schedule'); hidetoggle_visibility('background_studies'); hidetoggle_visibility('experience'); hidetoggle_visibility('profile'); 
            hidetoggle_visibility('interest'); hidetoggle_visibility('social_media'); hidetoggle_visibility('template_greeting1');"><i class="far fa-calendar-alt"></i><span> Schedule</span></a>
            <a href="#" onclick="toggle_visibility('interest'); hidetoggle_visibility('background_studies'); hidetoggle_visibility('experience'); hidetoggle_visibility('schedule'); 
            hidetoggle_visibility('profile'); hidetoggle_visibility('social_media'); hidetoggle_visibility('template_greeting1');"><i class="fas fa-info-circle"></i><span> Interest</span></a>
            <a href="#" onclick="toggle_visibility('social_media');  hidetoggle_visibility('background_studies'); hidetoggle_visibility('experience'); hidetoggle_visibility('schedule'); 
            hidetoggle_visibility('interest'); hidetoggle_visibility('profile'); hidetoggle_visibility('template_greeting1');"><i class="fas fa-users"></i><span> Social Media</span></a>
        </div>
        <div class="web_content" style="background: url('/static/img/grass_background.jpg') no-repeat top center fixed; background-size: cover;">
            <div id="template_greeting1" style="display: block;"><h1>WELCOME <br> <h2 style="padding-top: 0px;">HELLO, {{request.user}}</h2></h1></div>
            <h2 id="profile" style="display: none;">
                <div class="container" style="margin: -120px 0 0 250px; width:800px; height: -900px; font-size: 15px;">
                    <div class="accordion" style="background-color: rgb(92, 92, 92, 0.5);">
                        <div class="head">
                            <h3 class="expand">Nama </h3>
                            <button class="move-up"><i class="fas fa-arrow-up"></i></button>
                            <button class="move-down"><i class="fas fa-arrow-down"></i></button>
                        </div>
                        <div class="body" style="font-size: 25px;" >
                            <p>Salvian Athallahrif Fadhil</p>
                        </div>
                    </div>
                        
                    <div class="accordion">
                        <div class="head">
                            <h3 class="expand">Tanggal Lahir </h3>
                            <button class="move-up"><i class="fas fa-arrow-up"></i></button>
                            <button class="move-down"><i class="fas fa-arrow-down"></i></button>
                        </div>
                        <div class="body" style="font-size: 25px;" >
                            <p>29 Agustus 2001</p>
                        </div>
                    </div>
                    
                    <div class="accordion">
                        <div class="head">
                            <h3 class="expand">Pendidikan Terakhir </h3>
                            <button class="move-up"><i class="fas fa-arrow-up"></i></button>
                            <button class="move-down"><i class="fas fa-arrow-down"></i></button>
                        </div>
                        <div class="body" style="font-size: 25px;">
                            <p>Kuliah</p>
                        </div>
                    </div>

                    <div class="accordion">
                        <div class="head">
                            <h3 class="expand">Hobi </h3>
                            <button class="move-up"><i class="fas fa-arrow-up"></i></button>
                            <button class="move-down"><i class="fas fa-arrow-down"></i></button>
                        </div>
                        <div class="body" style="font-size: 25px;">
                            <p>Main game, nonton youtube, olahraga</p>
                        </div>
                    </div>
                        
                </div>
            </h2>
            <h2 id="background_studies" style="display:none">
                <div id="accordion" >
                    <h3 style="color: white; background-color: rgb(92, 92, 92);" >SD</h3>
                    
                    <p>
                    SDIT AL_KHAIRAAT
                    </p>
                    
                    <h3 style="color: white; background-color: rgb(92, 92, 92);">SMP</h3>
                    
                    <p>
                    SMPI PB SOEDIRMAN
                    </p>
                    
                    <h3 style="color: white; background-color: rgb(92, 92, 92);">SMA</h3>
                    
                    <p>
                    SMAN 62 JAKARTA
                    </p>
                    
                    <h3 style="color: white; background-color: rgb(92, 92, 92);">KULIAH</h3>
                
                    <p>
                    UNIVERSITAS INDONESIA
                    </p>
                
                  </div>
            </h2>
            <h2 id="experience" style="display:none;" >
                <table style="color: #fff; width: 100%;font-size: 80%;padding-left: 20%; background-color: rgb(92, 92, 92, 0.5);"> 
                    <tr>
                        <td>2019-2020<br><br></td>
                        <td>Staff LO wisgan <br><br></td>
                    </tr>
                    <tr>
                        <td>2020-2021</td>
                        <td>Staff PSDM BEM Fasilkom UI <br> Staff ENC Compfest</td>
                    </tr>
                    <br>
                </table>
            </h2>
            <h2 id="schedule" style="display:none;">
                <br/>
               
                <table style="color: #fff; width: 100%;font-size: 80%;padding-left: 0%; background-color: rgb(92, 92, 92, 0.5);"> 
                    <tr style="background-color: rgb(224,155,64,0.5);"> 
                        <td>mata kuliah<br><br></td>
                        <td>Dosen<br><br></td>
                        <td>Jumlah SKS<br><br></td>
                    </tr>
                    {% for matkul in matkuls%}
                    <tr>
                        <td>{{ matkul.name }}<br><br></td>
                        <td>{{ matkul.dosen}}<br><br></td>
                        <td>{{ matkul.sks }}<br><br></td>
                    </tr>
                    {% endfor %}
                    <br>
                </table>
		            <br/>
	           

            </h2>
            <h2 id="interest" style="display:none;">
                <table style="color: #fff; width: 100%;font-size: 80%;padding-left: 20%; background-color: rgb(92, 92, 92, 0.5);"> 
                    <tr>
                        <td style="padding-right: 300px;">Basket</td>
                        <td style="padding-right: 300px;">Jalan-Jalan</td>
                    </tr>
                    <tr>
                        <td><img src="{% static 'img/basket.jpg' %}" style="width: 200px; padding-right: 300px;"></td>
                        <td><img src="{% static 'img/jalan-jalan.jpg' %}" style="width: 200px; padding-right: 300px;"></td>
                    </tr>
                    <br>
                </table>
                <br/>
               
                <table style="color: #fff; width: 100%;font-size: 80%;padding-left: 0%; background-color: rgb(92, 92, 92, 0.5);"> 
                    <tr style="background-color: rgb(224,155,64,0.5);"> 
                        <td>basket<br><br></td>
                        <td>jalan-jalan<br><br></td>
                        
                    </tr>
                    {% for aktivitas in aktivitass%}
                    <tr>
                        <td>{{ aktivitas.nama }}<br><br></td>
                    </tr>
                    {% endfor %}
                    <br>
                </table>
		            <br/>
            </h2>
            <h2 id="social_media" style="display:none">
                Find me here <br>
                <a href="https://www.instagram.com/salvian.af/"><i class="fab fa-instagram"></i><span>Instagram</span></a>
                <a href="http://line.me/ti/p/salvianfadhil"><i class="fab fa-line"></i><span>Line</span></a>
            </h2>
        </div>

        <div class="footer">
            

        </div>
      
        <script src="{% static 'script.js' %}"></script>
    </body>
    {% endblock content %}

    
    
</html>